<body>
  <div class="formLogin">
    <h1>Login HomeBanking</h1>
    <form class="example-form" (ngSubmit)="login()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" class="custom-input" [(ngModel)]="username" id="username" name="username" required/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" class="custom-input" [(ngModel)]="password" id="password" name="password" required/>
      </mat-form-field>
   

    <div class="button-container">
      <button mat-fab extended color="basic" type="submit">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div> 
  </form>
  <p style="padding-top: 25px;">You don't have an account? <a routerLink="/register" class="signup-link">Sign up</a></p>
  </div>
</body>


