<div class="formLogin">
    <h1>Login Homebanking</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" />
    </mat-form-field>
  </form>

  <div class="button-container">
    <button mat-fab extended color="primary">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </div>
</div>
