.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.addFunds {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 33%;
  right: 7%;
  transform: translate(-50%, -50%);
  place-items: center;
  display: grid;
  border-radius: 5%;
}

@media screen and (max-width: 768px) {
  .addFunds {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    display: grid;
    border-radius: 5%;
    width: auto;
  }
}
.button-container {
  margin-top: 10px;
  text-align: center;
}
.messageWelcome {
  color: white;
  position: absolute;
  top: 10%;
  right: 10%;
}
@media screen and (max-width: 768px) {
  .messageWelcome {
    color: white;
    position: absolute;
    top: 5%;
    right: 10%;
  }
}

.withdrawFunds {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 60%;
  right: 7%;
  transform: translate(-50%, -50%);
  place-items: center;
  display: grid;
  border-radius: 5%;
}

@media screen and (max-width: 768px) {
  .withdrawFunds {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    display: grid;
    border-radius: 5%;
    width: auto;
  }
}
.mat-mdc-table  {
background-color:rgb(255, 255, 255);
}

.mdc-data-table__table {
  min-width: 50%; 
  position: absolute;
  top: 22%;
  left: 15%;
}

@media screen and (max-width: 768px) {
.mdc-data-table__table {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 77%;
  left: 51%;
  transform: translate(-50%, -50%);
  place-items: center;
  display: grid;
  width: auto;
}
}
.mat-mdc-paginator {
  background: #ffffff;
  position: absolute;
  top: 57%;
  left: 28%;
  color: rgba(0,0,0,.87);
}
@media screen and (max-width: 768px) {
  .mat-mdc-paginator {
    background: #ffffff;
    position: absolute;
    top: 92%;
    left: 18%;
    color: rgba(0,0,0,.87);

  }
}

.signup-link {
  color: #ffffff; 
  font-weight: bold; 
  text-decoration:underline;
}
