body {
    background-image: url(src/assets/background-homebanking.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

.messageWelcome{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    right: 0;
    transform: translate(-50%, -50%);
    display: grid;
    border-radius: 5%;
}