<body>
  <div class="formRegister">
    <h1>Sign up HomeBanking</h1>
    <form class="example-form" [formGroup]="registerForm">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="email@gmail.com"
          type="email"
          class="custom-input"
          formControlName="email"
        />
        <mat-error>
          Email is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          type="text"
          class="custom-input"
          formControlName="username"
        />
        <mat-error>
          Username is <strong>required</strong> and must be between 4 and 10 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          class="custom-input"
          formControlName="password"
        />
        <mat-error>
          Password is <strong>required</strong> and must be at least 8 characters.
        </mat-error>
        
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          placeholder="Confirm password"
          type="password"
          class="custom-input"
          formControlName="confirmPassword"
        />
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Phone number</mat-label>
        <span matPrefix>+351 &nbsp;</span>
        <input
          type="tel"
          matInput
          placeholder="Phone number"
          class="custom-input"
          formControlName="phoneNumber"
        />
        <mat-error>
          Phone number is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Birth date</mat-label>
        <input
          matInput
          placeholder="Birth date"
          type="date"
          class="custom-input"
          formControlName="birthDate"
        />
        <mat-error>
          Birth date is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-fab extended color="basic" type="submit" (click)="register()">
          <mat-icon>login</mat-icon>
          Sign Up
        </button>
      </div>
    </form>
    <button
      style="right: 40%; margin-top: -48px"
      mat-icon-button
      matTooltip="Basic"
      aria-label="Example icon-button with a heart icon"
      (click)="toBack()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <mat-error style="margin-top: 20px;" *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </mat-error>

    <mat-error style="margin-top: 20px;" *ngIf="passwordErrorMessage" class="error-message">
      {{ passwordErrorMessage }}
    </mat-error>
  </div>
</body>
